{% extends 'base.html' %}
{% block page_content %}
    <div class="narrow-content-container">
        <h1 class="cover-heading">
            Hi, glad you found my page!
        </h1>
        <p class="lead">
            My name is Michelle Mark and I am a web developer and pythonista with 10+ years experience and a degree in
            computer science.  I have worked in many languages, and believe languages and frameworks are tools, and
            you should use the right tool for the job.  My favorite tool for web development is Python Django.
            I am experienced in implementing 3rd party APIs and creating custom APIs from scratch using Django REST
            Framework.  Security minded with experience handling HIPAA data and a SANS GWEB certification.  I love
            big projects and can visualize new software architecture from concept to completion.  Creating
            understandable clean code is my passion.  Looking to join an established team as a full time remote
            developer.
        </p>
        <p class="lead">
              <a href="https://www.linkedin.com/in/michellemarkwebdeveloper" class="btn btn-lg btn-secondary">
                  My LinkedIn
              </a>
        </p>
    </div>
{% endblock %}
